<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.codenergic.theskeleton">

    <application
        android:name=".TheSkeletonApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login.LoginActivity">
            <intent-filter>3
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".register.RegisterActivity"/>
        <activity android:name=".main.MainActivity"/>
        <activity android:name=".editor.EditorActivity"
            android:parentActivityName=".main.MainActivity"/>
        <activity android:name=".content.ContentActivity"
            android:parentActivityName=".main.MainActivity"/>
        <activity android:name=".profile.ProfileActivity"/>
        android:parentActivityName=".main.MainActivity"/>
        <activity android:name=".content.comment.CommentActivity"
            android:parentActivityName=".content.ContentActivity"/>
        <activity android:name=".draft.DraftActivity"
            android:parentActivityName=".main.MainActivity"/>
    </application>

</manifest>